.hero {
    background: url('images/fondo.jpg') center/cover no-repeat;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero p{
    font-size: 2rem;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
    font-weight: 400;
}

.hero h1{
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
}

.content-box {
    background: rgba(255, 0, 0, 0.7);
}

.separator {
    width: 100%;
    height: 6px;
    background-color: red;
    margin: 20px auto;
    border-radius: 2px;
}

.custom-carousel {
    max-width: 800px;
    max-height: 600px;
    overflow: hidden;
}

.custom-carousel p{
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
}

.custom-carousel h5{
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
}

.custom-carousel img {
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
}